fastapi
uvicorn[standard]
sqlalchemy
pwdlib
bcrypt
python-jose[cryptography]
python-multipart
alembic
pydantic
pydantic-settings
email-validator
requests
pyjwt
pwdlib[argon2]
celery
redis
psycopg2-binary
twilio
boto3